/* CSS declarations go here */
body {
	width:960px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

header {
	background: #d2edf4;
	background-image: linear-gradient(to bottom, #59d8ff, #3789a3 100%);
	padding: 15px 15px 15px 15px;
	position: relative;
	border:1px solid #CCC;
}

header, nav {
	margin-left: -10px;
	margin-right: -10px;
}

.myheader {
	position : relative;
	left : 50px;
	color : white;
}

.QRcode{
	margin : 30px;
}

content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 20px auto;
}

.query{
  width:500px;
  margin:10px;
  width:230px;
  position:relative;
}

.unlock_error{
	color : red;
	margin : 20px;
}
.unlock_success{
	color : green;
	margin : 20px;
}

.align-right {
	float: right;
}

.transp {
	opacity: 0.5;
}
