/* CSS declarations go here */
header {
	background: #d2edf4;
	background-image: linear-gradient(to bottom, #59d8ff, #3789a3 100%);
	padding: 15px 15px 15px 15px;
	position: relative;
	width:960px;
	margin:0px auto;
	border:1px solid #CCC;
}
 
.myheader {
	position : relative;
	left : 50px;
	color : white;
}

content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 20px auto;
}

.query{
  width:500px;
  margin:10px;
  width:230px;
  position:relative;
}

.unlock_error{
	color : red;
	margin : 20px;
}
.unlock_success{
	color : green;
	margin : 20px;
}


/* ==========================
   Search Box
   ========================== */

.queryTerm:focus {
  width: 175px;
  background-color:#fff;
  color: #000;
  opacity:1;
  -webkit-box-shadow:1px 1px 9px rgba(0,0,0,0.85);
  -moz-box-shadow:1px 1px 9px rgba(0,0,0,0.85);
  box-shadow:1px 1px 9px rgba(0,0,0,0.85);
  font-weight:800;
}

.queryTerm{
padding: 5px 10px;
background:#ccc;
color:#444;
border: 0;
width: 150px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.65);
-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.65);
box-shadow: 1px 1px 5px rgba(0,0,0,0.65);
outline: 0;
}
